{% extends 'base.html' %}

{% block title %}Hi {{ username }}{% endblock %}

{% block content %}

<div class="m-auto w-3/4 md:w-3/6 h-3/4 md:h-5/6 rounded-lg border-2">
    <div class="h-[94%] w-full overflow-scroll px-2" id="chat">
    </div>
    <div class="flex justify-center w-full">
        <div class="w-5/6 flex rounded-full border-2 bg-blue-400 overflow-hidden">
            <input type="text" class="px-2 w-5/6" value="Enter Message" id="message">
            <button type="submit" id="sendmsg" class="w-1/6">Send</button>
        </div>
    </div>
</div>


{% endblock %}